<!Doctype html>

<html lang="eng">

<head>
    <meta charset="utf-8">
    <title> Data Handling </title>
    <link href="../../../static/graphs/style.css" rel="stylesheet"/>
    <script src="../../../static/graphs/jquery-3.2.0.js"></script>
    <script src="../../../static/graphs/form_loading.js"></script>
</head>


<body>
    <img id="logo" src="../../../static/graphs/logo.png" alt="Search for Common Ground"/>
    <h1> Village Data Entry </h1>
    <p> <div class="option"> <span class="header"> <b> Select Data Entry Form: </b> </span>

        <button id="village_setup"> Set up Groups </button>

        <button id="person_enter"> Add a Person </button>

        <button id="grp_add"> Add Group Relation </button>

        <button id="per_add"> Add Person Relation </button>

        </div>
        <div id="form"></div>
    </p>

    <span class="header"> <b> Village Data: </b> <br> </span>
    <div id="dataset"> <b> People </b> </div>
    <br>
    <div id="groupdata"> </div>
    <br>
    <div id="rels"> <b> Relationships: </b> </div>


<!--
    We need name, gender
    Age (Child, teenager, adult, old)

    Groups

    Bio information

    List of Relationships
        Structure for the relationship

    Conflict status (victim or instigator)
    List of conficts if wanted

    Influence
    Relationships
-->

</body>
</html>
