<!Doctype html>

<html lang="eng">

<head>
    <meta charset="utf-8">
    <title> Data Handling </title>
    <link href="../../../static/graphs/style.css" rel="stylesheet"/>
    <script src="../../../static/graphs/jquery-3.2.0.js"></script>
    <script src="../../../static/graphs/form_loading.js"></script>
</head>


<body>
    <img id="logo" src="../../../static/graphs/logo.png" alt="Search for Common Ground"/>

    <h1 id="logo"> Choose village: </h1>

    <p><a href="overview.html"><img src="../../../static/graphs/icons.png" width="962"/></a></p>
    <h1 id="logo"> Add new village: </h1>
    <img src="../../../static/graphs/plus.png" width="300"/>

<!--
    We need name, gender
    Age (Child, teenager, adult, old)

    Groups

    Bio information

    List of Relationships
        Structure for the relationship

    Conflict status (victim or instigator)
    List of conficts if wanted

    Influence
    Relationships
-->

</body>
</html>
