body{
    background-color: #ccffff;
    font-family : helvetica;
    text-align  : left;
    font-size : 16px;
}

.header{
    font-size : 16px;
    font-style: bold;
}

h1{
    text-align : center;
    font-size : 30px;
}

#logo{
    height: auto;
    width: auto;
    max-height: 80px;
    max-width: 300px;
}